// @mixin for-size($size) {
//   $desktop-l-smaller-boundary: 1920px;
//   $laptop-l-smaller-boundary: 1366px;
//   $laptop-smaller-boundary: 1280px;
//   $laptop-s-smaller-boundary: 1200px;
//   $tablet-smaller-boundary: 1024px;
//   $phablet-smaller-boundary: 768px - 2px;
//   $mobile-smaller-boundary: 600px - 2px;
//   $mobile-m-smaller-boundary: 412px;
//   $mobile-s-smaller-boundary: 360px;
//   $mobile-xs-smaller-boundary: 320px;
//
//   @if $size == laptop-l {
//     @media (max-width: #{$laptop-l-smaller-boundary}) { @content; }
//   } @else if $size == laptop {
//     @media (max-width: #{$laptop-smaller-boundary}) { @content; }
//   } @else if $size == laptop-s {
//     @media (max-width: #{$laptop-s-smaller-boundary}) { @content; }
//   } @else if $size == tablet {
//     @media (max-width: #{$tablet-smaller-boundary}) { @content; }
//   } @else if $size == phablet {
//     @media (max-width: #{$phablet-smaller-boundary}) { @content; }
//   } @else if $size == mobile {
//     @media (max-width: #{$mobile-smaller-boundary}) { @content; }
//   } @else if $size == mobile-m {
//     @media (max-width: #{$mobile-m-smaller-boundary}) { @content; }
//   } @else if $size == mobile-s {
//     @media (max-width: #{$mobile-s-smaller-boundary}) { @content; }
//   } @else if $size == mobile-xs {
//     @media (max-width: #{$mobile-xs-smaller-boundary}) { @content; }
//   } @else if $size == desktop-l {
//     @media (max-width: #{$desktop-l-smaller-boundary}) { @content; }
//   }
// }


@mixin for-size($size) {
  $desktop-l-smaller-boundary: 1920px;
  $laptop-l-smaller-boundary: 1366px;
  $laptop-s-smaller-boundary: 1200px;
  $tablet-smaller-boundary: 1024px;
  $phablet-smaller-boundary: 768px - 2px;
  $mobile-smaller-boundary: 600px - 2px;
  $mobile-m-smaller-boundary: 412px;
  $mobile-s-smaller-boundary: 360px;
  $mobile-xs-smaller-boundary: 320px;
  @if $size == desktop-l {
    @media (min-width: #{$desktop-l-smaller-boundary}) { @content; }
  } @else if $size == laptop-l {
    @media (min-width: #{$laptop-l-smaller-boundary}) { @content; }
  } @else if $size == laptop {
    @media (min-width: #{$laptop-smaller-boundary}) { @content; }
  } @else if $size == laptop-s {
    @media (min-width: #{$laptop-s-smaller-boundary}) { @content; }
  } @else if $size == tablet {
    @media (min-width: #{$tablet-smaller-boundary}) { @content; }
  } @else if $size == phablet {
    @media (min-width: #{$phablet-smaller-boundary}) { @content; }
  } @else if $size == mobile {
    @media (min-width: #{$mobile-smaller-boundary}) { @content; }
  } @else if $size == mobile-m {
    @media (min-width: #{$mobile-m-smaller-boundary}) { @content; }
  } @else if $size == mobile-s {
    @media (min-width: #{$mobile-s-smaller-boundary}) { @content; }
  } @else if $size == mobile-xs {
    @media (min-width: #{$mobile-xs-smaller-boundary}) { @content; }
  } 
}
